# Dependencies
venv/

# Cache
__pycache__/

# Environment and secrets
.env

# IDEs
.vscode/
.idea/

# Dataset
dataset/
*.tfrecord

# Fitting
.ipynb_checkpoints/
checkpoints/

# Weights
*.h5
*.weights.h5